<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<th:block th:include="@{/header}"></th:block>
<th:block th:include="@{/popup/itemPopup}"></th:block>
<main>
    <th:block th:include="@{/nav}"></th:block>
    <div class="item">
        <header class="item__header">
            <div class="item__title-wrapper">
                <i class="fas fa-truck"></i>
                <span>Item</span>
                <p>February 7th 2021 - Sunday</p>
            </div>
            <div class="item__button-wrapper">
                <div>
                    <button id="create-btn">
                        <i class="fas fa-truck"></i>
                        Create
                    </button>
                </div>
            </div>
        </header>
        <table>
            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Content</th>
            <th>Price</th>
            <th>Created_at</th>
            <tr class="item-tr">
                <td>1</td>
                <td>
                    <img src="/img/no-profile.jpg"/>
                </td>
                <td>Name</td>
                <td>Content</td>
                <td>100,000</td>
                <td>2021-02-28T23:00</td>
            </tr>
        </table>
    </div>
</main>
<script type="text/javascript" th:src="@{/js/item.js}"></script>
</body>
</html>