body {
    background: linear-gradient(to right,  #4568DC, #B06AB3);
    box-sizing: border-box;
}

.sign-wrapper {
    width: 360px;
    height: 680px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
}

.sign-wrapper .sign-wrapper__inner {
    dispaly: flex;
    flex-direction: column;
}

.sign-wrapper__title {
    margin: 40px 0 80px 0;
}

.sign-wrapper__title h1 {
    color: #6668e7;
    font-size: 32px;
    margin: 0 0 20px 0;
}

.sign-wrapper__title p {
    line-height: 1.5;
    font-size: 12px;
    opacity: .6;
    color: #6668e7;
    margin: 0;
    padding: 0;
}

.sign-wrapper__input {
    display: flex;
    margin: 15px 0;
    padding-left: 5px;
    width: 100%;
}

.sign-wrapper__hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right,  #4568DC, #B06AB3);
}

.sign-wrapper__input input {
    width: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
    color: #B06AB3;
}

.sign-wrapper__input .duplicatie-btn {
    height: 20px;
    position: absolute;
    right: 50px;
    border: none;
    outline: none;
    background-color: skyblue;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.sign-wrapper__input .duplicatie-btn:hover {

}

.sign-wrapper__remember {
    width: 100%;
    margin: 40px 0 120px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4568DC;
}

.sign-wrapper__remember input,
.sign-wrapper__remember label{
    cursor: pointer;
}

.sign-wrapper__remember a {
    text-decoration: none;
    color: #4568DC;
}

.sign-wrapper__button {
    margin-top: 70px;
    text-align: center;
}

.sign-wrapper__button button {
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 24px;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,  #4568DC, #B06AB3);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sign-wrapper__button p {
    font-size: 12px;
    text-align: center;
    color: #4568DC;
}

.sign-wrapper__button a {
    text-decoration: none;
    color: #4568DC;
    font-size: 16px;
}