main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #21202E;
    box-sizing: border-box;
}

main nav {
    width: 20%;
    height: 100vh;
    background-color: #2D2C3F;
}

main nav .nav-logo {
    width: 100%;
    height: 200px;
    background-color: red;
}

main nav .nav-profile {
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    height: 100px;
    background-color: orange;
}

main nav .nav-menu ul li {
    padding-left: 30px;
    height: 30px;
    margin: 20px 0;
    color: #5A5869;
    outline : none;
    cursor: pointer;
}

.dashboard {
    width: 100%;
    padding: 40px 80px;
}

.dashboard header {
    margin: 20px 0;
}

.dashboard .dashboard__header svg {
    font-size: 30px;
    margin-right: 20px;
    color: #ffffff;
}

.dashboard .dashboard__header span {
    font-size: 30px;
    color: #ffffff;
}

.dashboard .dashboard__header p{
    margin-top: 15px;
    color: #636170;
}

.dashboard .card-wrapper {
    display: flex;
    cursor: pointer;
}

.dashboard .card-wrapper .category-total {
    transition: background-color 2s ease-out;
}

.dashboard .card-wrapper .category-total:hover {
    bakground-color: red;
    color: black;
}


.dashboard .card-wrapper .card {
    width: 340px;
    height: 256px;
    padding: 30px;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    background-color: #2D2C3F;
}

.dashboard .card-wrapper .big-card-row {
    width: 720px;
    height: 256px;
    border-radius: 5px;
    margin-left: 20px;
    padding: 30px;
    z-index: 10;
    cursor: pointer;
    background-color: #2D2C3F;
}

.dashboard .card-wrapper .big-card-column {
    width: 340px;
    height: 404px;
    padding: 30px;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    background-color: #2D2C3F;
}

.dashboard .card-wrapper .big-card-row {

}

.dashboard .card-wrapper .small-card-row {
    width: 340px;
    height: 128px;
    margin: 0 20px;
    padding: 20px 30px;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    background-color: #2D2C3F;
}

.dashboard .card-wrapper .small-card-row .small-card-row__new {
    display: flex;
    align-items: center;
}

.dashboard .card-wrapper .small-card-row .small-card-row__new div {
    display: flex;
    align-items: center;
    height: 40px;
    border-left: 2px solid rgba(121, 94, 241, 1.0);
    padding-left: 30px;
}

.dashboard .card-wrapper .small-card-row .small-card-row__new div span {
    width: 45px;
    color: #ffffff;
    font-size: 20px;
}

.dashboard .card-wrapper .card:nth-child(2) {
    margin: 0 20px;
}


.dashboard .card-wrapper .card svg {
    font-size: 30px;
    margin-bottom: 10px;
}

.dashboard .card-wrapper .card-title {
    color: #93929f;
    font-size: 20px;
    margin: 20px 0;
}

.dashboard .card-wrapper .card .card-count {
    color: #FFFFFF;
    font-size: 25px;
    margin: 20px 0;
    letter-spacing: 5px;
}

.margin-top20 {
    margin-top: 20px;
}