.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-color:rgba(0,0,0,.5)*/
}

.top-cancel-wrapper {
    display: flex;
    justify-content:right;
    padding: 10px;
    background-color: #30343c;
}

.top-cancel-wrapper .top-cancel-btn {
    margin-left: auto;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

/* Partner Popup CSS */

.partner-popup-wrapper {
    display: none;
    width: 800px;
    height: 670px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 0 30px 5px black;
}

.popup-row {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid gray;
    align-items: center;
}

.popup-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: none;
}

.popup-btn-wrapper button {
    width: 100px;
    padding: 10px;
    margin: 50px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 4px;
}

.popup-btn-wrapper .add-btn {
    background-color: skyblue;
}

.popup-btn-wrapper .cancel-btn {
    background-color: red;
}

.popup-row .popup-row__left {
    width: 30%;
}

.popup-row .popup-row__left svg {
    width: 15px;
    height: 12px;
    margin-right: 5px;
}

.popup-row .popup-row__right {
    width: 70%;
}

.popup-wrapper .popup-row__right input {
    width: 400px;
    height: 30px;
    padding: 0 10px;
}

.popup-row__address .popup-row__address--row {
    display: flex;
    align-items: center;
}

.popup-row__address .popup-row__address--row input {
    margin: 5px 5px 5px 0;
}

.popup-row__address .popup-row__address--row .search-btn {
    width: 100px;
    cursor: pointer;
}

/* Category Popup CSS */
.category-popup-wrapper {
    display: none;
    width: 400px;
    height: 220px;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 0 30px 5px black;
}