@import 'reset.css';
@import 'nav.css';
@import 'login.css';
/*@import 'signup.css';*/
@import 'popup.css';
@import 'main.css';
@import 'user.css';
@import 'setting.css';
@import 'mypage.css';
@import 'order.css';

.main-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: #2D2C3F;
}

.main-header .main-header__left {
    display: flex;
    font-size: 20px;
    margin: 0 30px;
    text-align: center;
}

.main-header .main-header__left h2 {
    width: 120px;
}

.main-header .main-header__account {
    display: flex;
    color: #ffffff;
}

.main-header .main-header__account p{
    min-width: 250px;
    display: flex;
    align-items: center;
}

.main-header .main-header__logo {
    font-size: 20px;
}

.main-header .main-header__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-header__right .main-header__right--clock {
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 50px;
}

.main-header .main-header__right .main-header__right--sign {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.main-header .main-header__right .main-header__right--sign svg {
    display: inline-block;
    margin-left: 10px;
}

.main-header .main-header__right .main-header__right--store-btn {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: skyblue;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-header .main-header__right .main-header__right--store-btn:hover {
    background-color: aqua;
}


.main-header .main-header__right .main-header__right--category-btn {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #b779f6;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-header .main-header__right .main-header__right--category-btn:hover {
    background-color: #c48dfc;
}