@import 'reset.css';
@import 'popup.css';
@import 'main.css';

body {
    position: relative;
}

.main-header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #30343c;
}

.main-header .main-header__left {
    width: 150px;
    font-size: 20px;
    text-align: center;
}

.main-header .main-header__left h2 {
    font-size: 20px;
}

.main-header .main-header__right {
    width: 30%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-header__right .main-header__right--sign {
    color: #FFFFFF;
    cursor: pointer;
}

.main-header .main-header__right .main-header__right--sign svg {
    display: inline-block;
    margin-bottom: -1px;
}

.main-header .main-header__right .main-header__right--partner-btn {
    margin: 0 20px 0 10px;
    padding: 10px 15px;
    background-color: skyblue;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-header .main-header__right .main-header__right--partner-btn:hover {
    background-color: aqua;
}


.main-header .main-header__right .main-header__right--category-btn {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #b779f6;
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.main-header .main-header__right .main-header__right--category-btn:hover {
    background-color: #c48dfc;
}