<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/chart.js}"></script>
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</head>
<body>
    <th:block th:include="@{/header}"></th:block>
    <main>
        <nav>
            <div class="nav-logo"></div>
            <a href="/mypage">
                <div class="nav-profile">Profile</div>
            </a>
            <div class="nav-menu">
                <ul>
                    <a href="/admin"><li>DashBoard</li></a>
                    <a href="/admin/user/0"><li>Users</li></a>
                    <a href="/admin/order"><li>Orders</li></a>
                    <a href="/admin/setting"><li>Settings</li></a>
                </ul>
            </div>
        </nav>
        <div class="dashboard">
            <header class="dashboard__header">
                <i class="fas fa-chart-line"></i>
                <span>DashBoard</span>
                <p>February 7th 2021 - Sunday</p>
            </header>
            <div class="card-wrapper">
                <div class="card">
                    <canvas id="activeChart" width="400" height="300"></canvas>
                </div>
                <div class="big-card-row">
                    <span class="card-title">By Country</span>
                    <canvas id="countryChart" width="350" height="100"></canvas>
                </div>
            </div>
            <div class="card-wrapper margin-top20">
                <div class="big-card-column">
                    <canvas id="timePieChart" width="400" height="300"></canvas>
                </div>
                <div style="display: flex; flex-direction: column">
                    <div class="card-wrapper">
                        <div class="small-card-row">
                            <span class="card-title">New Followers</span>
                            <div class="small-card-row__new">
                                <div>
                                    <span>191K</span>
                                </div>
                                <canvas id="followerChart" height="80"></canvas>
                            </div>
                        </div>
                        <div class="small-card-row">
                            <span class="card-title">New Users</span>
                            <div class="small-card-row__new">
                                <div>
                                    <span class="user-count"></span>
                                </div>
                                <canvas id="newUserChart" height="80"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="card-wrapper margin-top20">
                        <div class="big-card-row">
                            <canvas id="YearlyChart" height="100"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
</body>
</html>