<div class="category-popup-wrapper">
    <div class="top-cancel-wrapper">
        <span class="top-cancel-btn">X</span>
    </div>
    <form>
        <div class="popup-row">
            <div class="popup-row__left">
                <i class="fas fa-sort"></i>
                <span>Type</span>
            </div>
            <div class="popup-row__right">
                <input name="type" placeholder="Type 입력"/>
            </div>
        </div>
        <div class="popup-row">
            <div class="popup-row__left">
                <i class="fas fa-heading"></i>
                <span>Title</span>
            </div>
            <div class="popup-row__right">
                <input name="title" placeholder="Title 입력"/>
            </div>
        </div>
        <div class="popup-btn-wrapper">
            <button id="category-add" type="button" class="add-btn">Add</button>
            <button type="button" class="cancel-btn">Cancel</button>
        </div>
    </form>
</div>
