<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js">  </script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
</head>
<script>
$(document).ready(function(){
    const parentCategoryUl = $('.parent-category ul');

    $('#category-add').on('click', function(){
        // Validation
        // 해당 카테고리 이미 존재한 카테고리인지 ?

        const parentType = $('.selected-category-option').val();
        const type = $('input[name=type]').val();
        const title = $('input[name=title]').val();
        const nowDate = new Date().toISOString();
        // transaction_time -> 오른쪽과 같은 형태로 2019-07-31T22:57:56.692
        // resultCode, description -> OK ? 강의 다시보고 알맞은 값 넣기
        // data -> 전달받은 데이터 넣기

        const request = {
            "transaction_time" : nowDate,
            "resultCode" : "SUCCESS",
            "description" : "category insert OK"
        };

        const data = {};

        if (parentType === "" || type === "" || title === "") {
            alert("type or title input plz");
            return;
        }

        else {
            data.parent_type = parentType;
            data.type = type;
            data.title = title;
            request.data = data;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/category",
            data: JSON.stringify(request),
            dataType: 'json',
            success: function (data) {
                if(data) {
                    const parentType = data.data.parent_type;
                    const type = data.data.type;
                    alert(parentType +'[' + type + ']가 성공적으로 추가 되었습니다.');
                    // setTimeout 설정해주기
                    window.location.href= "/";
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    });

    $('.selected-category-option').on('click', function() {
        if(parentCategoryUl.hasClass('hide')) {
            parentCategoryUl.removeClass('hide');
            parentCategoryUl.addClass('show');
        } else {
            parentCategoryUl.addClass('hide');
            parentCategoryUl.removeClass('show');
        }
    });

    $('.parent-category ul li').on('click', function() {
        parentCategoryUl.removeClass('show');
        parentCategoryUl.addClass('hide');
        $('.selected-category-option').html($(this).text());
        $('.selected-category-option').val($(this).text());
    });

})
</script>
<body>
    <header class="main-header">
        <div class="main-header__left">
            <a href="#">
                <h2>Admin Store</h2>
            </a>
        </div>
        <div class="main-header__right">
            <button class="main-header__right--category-btn">카테고리 추가</button>
            <button class="main-header__right--store-btn">파트너 추가</button>
            <div class="main-header__right--sign">
                <span>Log in</span>
                <i class="fas fa-sign-in-alt"></i>
            </div>
        </div>
    </header>
    <div class="overlay">
        <th:block th:include="@{/store-popup}"></th:block>
        <th:block th:include="@{/category-popup}"></th:block>
    </div>
    <main>
        <nav>KSJ</nav>
        <div class="dashboard">
            <header class="dashboard__header">
                <i class="fas fa-chart-line"></i>
                <span>DashBoard</span>
            </header>
            <hr/>
            <div class="card-wrapper">
                <div class="card purple">
                    <i class="fas fa-handshake"></i>
                    <span class="card-title">store Total</span>
                    <span class="card-count" th:text="${storeCount}"></span>
                </div>
                <div class="card blue">
                    <i class="fas fa-users"></i>
                    <span class="card-title">User Total</span>
                    <span class="card-count" th:text="${userCount}"></span>
                </div>
                <div class="card orange category-total">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Category Total</span>
                    <span class="card-count" th:text="${categoryCount}"></span>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card orange">
                    <i class="fas fa-handshake"></i>
                    <span class="card-title">item Total</span>
                    <span class="card-count" th:text="${itemCount}"></span>
                </div>
                <div class="card blue">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Order Total</span>
                    <span class="card-count" th:text="${orderCount}"></span>
                </div>
                <div class="card purple">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Number of visitors per day</span>
                    <span class="card-count" th:text="${visitCount}"></span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
