<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js">  </script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
</head>
<script>
    function partnerValueCheck() {
        // Validation
        // 해당 파일에서 꼭 해야 하는 건지 ?
        console.log("add btn");
    }
$(document).ready(function(){
    $('#category-add').on('click', function(){
        // Validation
        const type = $('input[name=type]').val();
        const title = $('input[name=title]').val();
        const nowDate = new Date().toISOString();
        // transaction_time -> 오른쪽과 같은 형태로 2019-07-31T22:57:56.692
        // resultCode, description -> OK ? 강의 다시보고 알맞은 값 넣기
        // data -> 전달받은 데이터 넣기

        const request = {
            "transaction_time" : nowDate,
            "resultCode" : "OK",
            "description" : "category insert OK"
        };

        const data = {};
        if (type === "" || title === "") {
            alert("type or title input plz");
            return;
        }

        else {
            data.type = type;
            data.title = title;
            request.data = data;
        }

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/api/category",
            data: JSON.stringify(request),
            dataType: 'json',
            success: function (data) {
                if(data) {
                    alert('카테고리가 성공적으로 추가 되었습니다.');
                    $('.overlay').css('backgroundColor', 'rgba(1,0,0,0)');
                    $('.category-popup-wrapper').css('display', 'none');
                }
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    });
})
</script>
<body>
    <header class="main-header">
        <div class="main-header__left">
            <a href="#">
                <h2>Admin Store</h2>
            </a>
        </div>
        <div class="main-header__right">
            <button class="main-header__right--category-btn">카테고리 추가</button>
            <button class="main-header__right--partner-btn">파트너 추가</button>
            <div class="main-header__right--sign">
                <span>Log in</span>
                <i class="fas fa-sign-in-alt"></i>
            </div>
        </div>
    </header>
    <div class="overlay">
        <th:block th:include="@{/partner-popup}"></th:block>
        <th:block th:include="@{/category-popup}"></th:block>
    </div>
    <main>
        <nav>KSJ</nav>
        <div class="dashboard">
            <header class="dashboard__header">
                <i class="fas fa-chart-line"></i>
                <span>DashBoard</span>
            </header>
            <hr/>
            <div class="card-wrapper">
                <div class="card purple">
                    <i class="fas fa-handshake"></i>
                    <span class="card-title">Partner Total</span>
                    <span class="card-count" th:text="${partnerCount}"></span>
                </div>
                <div class="card blue">
                    <i class="fas fa-users"></i>
                    <span class="card-title">User Total</span>
                    <span class="card-count" th:text="${userCount}">1004</span>
                </div>
                <div class="card orange">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Category Total</span>
                    <span class="card-count" th:text="${categoryCount}">10</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>