<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Store</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
</head>
<script>
    function valueCheck() {
        // Validation
        // 해당 파일에서 꼭 해야 하는 건지 ?
        console.log("add btn");
        return false;
    }
</script>
<body>
    <header class="main-header">
        <div class="main-header__left">
            <a href="#">
                <h2>Admin Store</h2>
            </a>
        </div>
        <div class="main-header__right">
            <button class="main-header__right--partner-btn">파트너 추가</button>
            <div class="main-header__right--sign">
                <span>Log in</span>
                <i class="fas fa-sign-in-alt"></i>
            </div>
        </div>
    </header>
    <th:block th:include="@{/partner-popup}"></th:block>
    <main>
        <nav>KSJ</nav>
        <div class="dashboard">
            <header class="dashboard__header">
                <i class="fas fa-chart-line"></i>
                <span>DashBoard</span>
            </header>
            <hr/>
            <div class="card-wrapper">
                <div class="card purple">
                    <i class="fas fa-handshake"></i>
                    <span class="card-title">Partner Total</span>
                    <span class="card-count" th:text="${partnerCount}"></span>
                </div>
                <div class="card blue">
                    <i class="fas fa-users"></i>
                    <span class="card-title">User Total</span>
                    <span class="card-count" th:text="${userCount}">1004</span>
                </div>
                <div class="card orange">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Category Total</span>
                    <span class="card-count" th:text="${categoryCount}">10</span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>