<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
    <section class="sign-wrapper">
        <div class="sign-wrapper__inner">
            <div class="sign-wrapper__title">
                <h1>Sign In</h1>
                <p>We never know the worth of water till the well is dry.</p>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="sign-wrapper__input">
                    <i class="fas fa-user-circle"></i>
                    <input type="text" name="username" placeholder="username"/>
                </div>

                <div class="sign-wrapper__hr"></div>

                <div class="sign-wrapper__input">
                    <i class="fas fa-key"></i>
                    <input type="password" name="password" autocomplete="new-password" placeholder="password" />
                </div>

                <div class="sign-wrapper__hr"></div>

                <div class="sign-wrapper__remember">
                    <div>
                        <input type="radio" id="rememberMe" name="remember-me"/>
                        <label for="rememberMe">Remember Me</label>
                    </div>
                    <a href="/find">
                        <span>forgot password?</span>
                    </a>
                </div>
                <div class="sign-wrapper__button">
                    <button>Sign In</button>
                    <p>Don't have an account?</p>
                    <a href="/signup">
                        <span>Sign Up</span> here
                    </a>
                </div>
            </form>
        </div>
    </section>
</body>
</html>