<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Master Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"> </script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <th:block th:include="@{/header}"></th:block>
    <div class="overlay">
        <th:block th:include="@{/popup/store-popup}"></th:block>
    </div>
    <main>
        <th:block th:include="@{/nav}"></th:block>
        <div class="dashboard">
            <header class="dashboard__header">
                <i class="fas fa-chart-line"></i>
                <span>DashBoard</span>
            </header>
            <div class="card-wrapper">
                <div class="card">
                    <i class="fas fa-handshake"></i>
                    <span class="card-title">store Total</span>
                    <span class="card-count" th:text="${storeCount}"></span>
                </div>
                <div class="card">
                    <i class="fas fa-users"></i>
                    <span class="card-title">User Total</span>
                    <span class="card-count" th:text="${userCount}"></span>
                </div>
                <div class="card category-total">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Category Total</span>
                    <span class="card-count" th:text="${categoryCount}"></span>
                </div>
            </div>
            <div class="card-wrapper">
                <div class="card">
                    <i class="fas fa-handshake"></i>
                    <span class="card-title">item Total</span>
                    <span class="card-count" th:text="${itemCount}"></span>
                </div>
                <div class="card">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Order Total</span>
                    <span class="card-count" th:text="${orderCount}"></span>
                </div>
                <div class="card">
                    <i class="far fa-object-group"></i>
                    <span class="card-title">Number of visitors per day</span>
                    <span class="card-count" th:text="${visitCount}"></span>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" th:src="@{/js/popup.js}"></script>
</body>
</html>
