<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/mypage.js}"></script>
</head>
<body>
    <th:block th:include="@{/header}"></th:block>
    <main>
        <th:block th:include="@{/nav}"></th:block>
        <div class="mypage">
            <header class="mypage__header">
                <span>My Admin Page</span>
                <p>February 7th 2021 - Sunday</p>
            </header>
            <div class="mypage__content">
                <div class="mypage__profile">
                    <img src="/img/iu3.jpg">
                    <form th:action="@{/files}" method="post" enctype="multipart/form-data">
                        <input type="file" name="files">
                        <button type="submit">Upload</button>
                    </form>
                </div>
                <div class="mypage__inner">
                    <i class="far fa-envelope"></i>
                    <p>Email</p>
                    <span th:text="${member.email}"></span>
                </div>
                <div class="mypage__inner">
                    <i class="fas fa-user-circle"></i>
                    <p>Account</p>
                    <span th:text="${member.account}"></span>
                </div>
                <div class="mypage__inner">
                    <i class="fas fa-phone"></i>
                    <p>PhoneNumber</p>
                    <span th:text="${member.phoneNumber}"></span>
                </div>
            </div>
        </div>
    </main>
</body>
</html>