<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script type="text/javascript" th:src="@{/js/nav.js}"></script>
    <nav class="common-nav">
        <div class="nav-logo">
            <div class="nav-profile">Profile</div>
            <a th:href="@{'/mypage/' + ${#authentication.name}}">
                <span th:text="${#authentication.name}"></span>
<!--                <img th:src="@{'/images/' + ${member?.email} + '.' + ${member?.files?.getFileOriName()}}">-->
            </a>
        </div>
        <div class="nav-menu">
            <ul>
                <a href="/admin"><li>DashBoard</li></a>
                <a href="/admin/user/0"><li>Users</li></a>
                <a href="/admin/order"><li>Orders</li></a>
                <a href="/admin/setting"><li>Settings</li></a>
            </ul>
        </div>
    </nav>
</html>