<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="common-nav">
        <div class="nav-logo">
            <img src="/img/flower.jpg" />
        </div>
        <a th:href="@{'/mypage/' + ${#authentication.name}}">
            <div class="nav-profile">Profile</div>
        </a>
        <div class="nav-menu">
            <ul>
                <a href="/admin"><li>DashBoard</li></a>
                <a href="/admin/user/0"><li>Users</li></a>
                <a href="/admin/order"><li>Orders</li></a>
                <a href="/admin/setting"><li>Settings</li></a>
            </ul>
        </div>
    </nav>
    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
</html>