<div class="partner-popup-wrapper">
    <div class="top-cancel-wrapper">
        <span class="top-cancel-btn">X</span>
    </div>
    <form method="post" action="/api/partner" onsubmit="return partnerValueCheck()">
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>App Store Name</span>
            </div>
            <div class="partner-popup-row__right">
                <input placeholder="App store Name 입력"/>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>Account</span>
            </div>
            <div class="partner-popup-row__right">
                <input placeholder="Account 입력"/>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>Password</span>
            </div>
            <div class="partner-popup-row__right">
                <input placeholder="Password 입력"/>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>Password 재입력</span>
            </div>
            <div class="partner-popup-row__right">
                <input placeholder="Password 재입력"/>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>Category</span>
            </div>
            <div class="partner-popup-row__right">
                <select name="category">
                    <option value="none">=== 선택 ===</option>
                    <option value="korean">컴퓨터-전자제품</option>
                    <option value="english">의류</option>
                    <option value="chinese">멀티샵</option>
                    <option value="spanish">인테리어</option>
                    <option value="spanish">음식</option>
                    <option value="spanish">스포츠</option>
                    <option value="spanish">쇼핑몰</option>
                    <option value="spanish">면세점</option>
                    <option value="spanish">화장</option>
                </select>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>Address</span>
            </div>
            <div class="partner-popup-row__right">
                <div class="partner-popup-row__address">
                    <div class="partner-popup-row__address--row">
                        <input type="text" id="sample4_postcode" placeholder="우편번호">
                        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" class="search-btn"><br>
                    </div>
                    <div class="partner-popup-row__address--row">
                        <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                        <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                    </div>
                    <span id="guide" style="color:#999;display:none"></span>
                    <div class="partner-popup-row__address--row">
                        <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                        <input type="text" id="sample4_extraAddress" placeholder="참고항목">
                    </div>
                </div>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>CEO Name</span>
            </div>
            <div class="partner-popup-row__right">
                <input placeholder="CEO 이름 입력"/>
            </div>
        </div>
        <div class="partner-popup-row">
            <div class="partner-popup-row__left">
                <img />
                <span>Business Number</span>
            </div>
            <div class="partner-popup-row__right">
                <input placeholder="Business Number"/>
            </div>
        </div>
        <div class="partner-popup-btn-wrapper">
            <button type="submit" class="add-btn">Add</button>
            <button type="button" class="cancel-btn">Cancel</button>
        </div>
    </form>
</div>