<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
</head>
<body>
<section class="sign-wrapper">
    <div class="sign-wrapper__inner">
        <div class="sign-wrapper__title">
            <h1>Sign Up</h1>
            <p>Time is but the stream I go a-fishing in.</p>
        </div>
        <form th:action="@{/signup}" method="post">
            <div class="sign-wrapper__input">
                <i class="far fa-envelope"></i>
                <input type="text" name="email" placeholder="Enter your email address" required/>
                <button type="button" class="duplicatie-btn">중복확인</button>
            </div>
            <div class="sign-wrapper__hr"></div>
            <div class="sign-wrapper__input">
                <i class="fas fa-user-circle"></i>
                <input type="text" name="account" placeholder="Pick your account" required/>
            </div>
            <div class="sign-wrapper__hr"></div>
            <div class="sign-wrapper__input">
                <i class="fas fa-key"></i>
                <input type="password" name="password1" placeholder="Enter your password" required/>
            </div>
            <div class="sign-wrapper__hr"></div>
            <div class="sign-wrapper__input">
                <i class="fas fa-key"></i>
                <input type="password" name="password2" placeholder="Re-enter your password" required/>
            </div>
            <div class="sign-wrapper__hr"></div>
            <div class="sign-wrapper__input">
                <i class="fas fa-phone"></i>
                <input type="text" name="phone_number" placeholder="Write your phoneNumber" required/>
            </div>
            <div class="sign-wrapper__hr"></div>
            <div class="sign-wrapper__button">
                <button type="submit" class="signup-btn">Sign Up</button>
                <p>Already have an account ?</p>
                <a href="/login">
                    <span>Sign In</span>
                </a>
            </div>
        </form>
    </div>
</section>
</body>
</html>