<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" th:src="@{/js/signup.js}"></script>
</head>
<body>
<section class="sign-wrapper">
    <div class="sign-wrapper__inner">
        <div class="sign-wrapper__title">
            <h1>Sign Up</h1>
            <p>어리석은 자는 멀리서 행복을 찾고, <br/>현명한 자는 자신의 발치에서 행복을 키워간다</p>
        </div>
        <form th:action="@{/user}" method="post">
            <div class="sign-wrapper__input">
                <input type="text" name="email" placeholder="Enter your email address" required/>
            </div>
            <div class="sign-wrapper__input">
                <input type="text" name="account" placeholder="Pick your account" required/>
            </div>
            <div class="sign-wrapper__input">
                <input type="text" name="password1" placeholder="Enter your password" required/>
            </div>
            <div class="sign-wrapper__input">
                <input type="text" name="password2" placeholder="Re-enter your password" required/>
            </div>
            <div class="sign-wrapper__input">
                <input type="text" name="phone_number" placeholder="Write your phoneNumber" required/>
            </div>
<!--            <div class="sign-wrapper__input">-->
<!--                <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin-->
<!--                <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>-->
<!--            </div>-->
            <div class="sign-wrapper__button">
                <button type="submit" class="signup-btn">Sign Up</button>
                <p>Don't have an account?</p>
                <a href="/login"><span>Sign In</span></a>
            </div>
        </form>
    </div>
</section>
</body>
</html>